In [2]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('titanic.csv', na_values= ['?'])

1. Inspekcja pierwszych 20 wierszy

In [5]:
df.head(20)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
5,1,1,"Anderson, Mr. Harry",male,48.0000,0,0,19952,26.5500,E12,S,3,NaN,"New York, NY"
6,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0000,1,0,13502,77.9583,D7,S,10,NaN,"Hudson, NY"
7,1,0,"Andrews, Mr. Thomas Jr",male,39.0000,0,0,112050,0.0000,A36,S,NaN,NaN,"Belfast, NI"
8,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0000,2,0,11769,51.4792,C101,S,D,NaN,"Bayside, Queens, NY"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0000,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
10,1,0,"Astor, Col. John Jacob",male,47.0000,1,0,PC 17757,227.5250,C62 C64,C,NaN,124.0,"New York, NY"
11,1,1,"Astor, Mrs. John Jacob (Madeleine Talmadge Force)",female,18.0000,1,0,PC 17757,227.5250,C62 C64,C,4,NaN,"New York, NY"
12,1,1,"Aubart, Mme. Leontine Pauline",female,24.0000,0,0,PC 17477,69.3000,B35,C,9,NaN,"Paris, France"
13,1,1,"Barber, Miss. Ellen 'Nellie'",female,26.0000,0,0,19877,78.8500,NaN,S,6,NaN,NaN
14,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0000,0,0,27042,30.0000,A23,S,B,NaN,"Hessle, Yorks"
15,1,0,"Baumann, Mr. John D",male,NaN,0,0,PC 17318,25.9250,NaN,S,NaN,NaN,"New York, NY"
16,1,0,"Baxter, Mr. Quigg Edmond",male,24.0000,0,1,PC 17558,247.5208,B58 B60,C,NaN,NaN,"Montreal, PQ"
17,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0000,0,1,PC 17558,247.5208,B58 B60,C,6,NaN,"Montreal, PQ"
18,1,1,"Bazzani, Miss. Albina",female,32.0000,0,0,11813,76.2917,D15,C,8,NaN,NaN
19,1,0,"Beattie, Mr. Thomson",male,36.0000,0,0,13050,75.2417,C6,C,A,NaN,"Winnipeg, MN"

Sprawdzenie ile jest wartości brakujacych w naszym zbiorze danych dla poszczegolnych zmiennych

In [6]:
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

ile procent wartosci null dla poszczegolnych zmiennych

In [7]:
df.isnull().mean()*100

pclass        0.000000
survived      0.000000
name          0.000000
sex           0.000000
age          20.091673
sibsp         0.000000
parch         0.000000
ticket        0.000000
fare          0.076394
cabin        77.463713
embarked      0.152788
boat         62.872422
body         90.756303
home.dest    43.086325
dtype: float64

In [8]:
df['cabinNull'] = np.where(df['cabin'].isnull(), 1, 0)

In [13]:
df.groupby(['survived'])['cabinNull'].mean()

survived
0    0.873918
1    0.614000
Name: cabinNull, dtype: float64

Najwięcej braków danych jest dla zmiennych: cabin, boat, body oraz home.dest. Braki w zbiorze danych najprawdopodobniej nie sa przypadkowe (MNAR). Zmienna cabin i survied wskazuja na to ze powiazanie pomiedzy przetrwaniem pasazera ma zwiazek z prawdopodobienstwem wystapienia brakujacej wartosci dla numeru kabiny.

In [14]:
df['cabin'].isna().groupby(df['survived']).mean()

survived
0    0.873918
1    0.614000
Name: cabin, dtype: float64

W naszym przypadku przy brakujacych wartosciach typu MNAR nie mozemy usunac wszystkich rekordow zawieracjacych nulle 
ze wzgledu na ich duza liczbe w zbiorze danych oraz ze wzgledu na ich nieprzypadkowosc. Wartosci brakujace dla kolumn
ktore maja ich niewiele mozemy usunac rekordy z nullamia dla reszty mozemy utworzyc kolumny wskazujace na zaleznosc w
brakach danych poszczegolnych kolumn a nastepnie wykorzystac je do zbudowania naszego modelu.

In [15]:
print('Liczba etykiet zmiennej cabin: {}'.format(len(df.cabin.unique())))

Liczba etykiet zmiennej cabin: 187

In [16]:
print('Liczba wszystkich pasazerow: {}'.format(len(df.name.unique())))

Liczba wszystkich pasazerow: 1307

In [29]:
for i in df.columns:
    print('Liczba unikalnych etykiet dla', i, ': ', len(df[i].unique()))

Liczba unikalnych etykiet dla pclass :  3
Liczba unikalnych etykiet dla survived :  2
Liczba unikalnych etykiet dla name :  1307
Liczba unikalnych etykiet dla sex :  2
Liczba unikalnych etykiet dla age :  99
Liczba unikalnych etykiet dla sibsp :  7
Liczba unikalnych etykiet dla parch :  8
Liczba unikalnych etykiet dla ticket :  929
Liczba unikalnych etykiet dla fare :  282
Liczba unikalnych etykiet dla cabin :  187
Liczba unikalnych etykiet dla embarked :  4
Liczba unikalnych etykiet dla boat :  28
Liczba unikalnych etykiet dla body :  122
Liczba unikalnych etykiet dla home.dest :  370
Liczba unikalnych etykiet dla cabinNull :  2
Liczba unikalnych etykiet dla cabin_reduced :  9
Liczba unikalnych etykiet dla CabinReduced :  9

In [19]:
print(len(df['name'].unique()))

1307

In [23]:
low_p = []
high_p = []

[high_p.append(i) if len(df[i].unique()) > 100 else low_p.append(i) for j,i in enumerate(df.columns)]
print("Kolumny z duza mocą zbioru: ", high_p)
print("Kolumny z mala mocą zbioru: ", low_p)

Kolumny z duza mocą zbioru:  ['name', 'ticket', 'fare', 'cabin', 'body', 'home.dest']
Kolumny z mala mocą zbioru:  ['pclass', 'survived', 'sex', 'age', 'sibsp', 'parch', 'embarked', 'boat', 'cabinNull']

In [24]:
df_np = np.array(df['cabin'].unique())

NumpyArray jest lepsze dla danych numerycznych, poniewaz jest szybsze i zuzywa mniej pamieci. Dla danych tabelarycznych czesciej uzywamy PandasDataFrame, ktore rowniez sa zbudowane za pomoca NumpyArray.

In [26]:
df['CabinReduced'] = df.cabin.astype(str).str[0]
df[['cabin', 'CabinReduced']].head(20)

      cabin CabinReduced
0        B5            B
1   C22 C26            C
2   C22 C26            C
3   C22 C26            C
4   C22 C26            C
5       E12            E
6        D7            D
7       A36            A
8      C101            C
9       NaN            n
10  C62 C64            C
11  C62 C64            C
12      B35            B
13      NaN            n
14      A23            A
15      NaN            n
16  B58 B60            B
17  B58 B60            B
18      D15            D
19       C6            C

In [44]:
print('Liczba unikalnych etykiet dla zmiennej cabin: ', len(df['cabin'].unique()))
print('Liczba unikalnych etykiet dla zmiennej CabinReduced: ', len(df['CabinReduced'].unique()))
print('Kardynalnosc sie zmienila o {} %'.format((1-len(df['CabinReduced'].unique())/len(df['cabin'].unique()))*100))

Liczba unikalnych etykiet dla zmiennej cabin:  187
Liczba unikalnych etykiet dla zmiennej CabinReduced:  9
Kardynalnosc sie zmienila o 95.18716577540107 %

Redukcja tej zmiennej pozwala zmiejszyc liczbe etykiet i bardziej uogolni nasza zmienna co pomoze naszemu modelowi w lepiej wytrenowac sie dla poszczegolnych wartosci, poniewaz bedzie miec w zbiorze wieksza ilosc przypadkow z poszczegolnymi etykietami. Niestety przez ta operacje tracimy czesc bardziej szczegolowych informacji na temat danych kabin.

In [45]:
df.to_csv("titanic_1.csv")